KLIPPER_ARGS="{{ klipper_home }}/klippy/klippy.py {{ printer_data }}/config/printer.cfg -l {{ printer_data }}/logs/klippy.log -I {{ printer_data }}/comms/klippy.serial -a {{ printer_data }}/comms/klippy.sock"
